@page "/popup/messageBox"
@using Jinget.Blazor.Components.Popup
@using MudBlazor
<div class="container">
    <div class="row">
        <div class="form-group input-group">
            <button @onclick=@ShowMBox1 class="btn btn-primary">Show Message Box(LTR)</button>
            <button @onclick=@ShowMBox2 class="btn btn-primary">Show Message Box(RTL)</button>

            <MudBlazor.MudCheckBox T="bool"
                                   Checked=@showVerbose
                                   CheckedChanged=@OnChecked
                                   Label="Show Verbose"
                                   LabelPosition="LabelPosition.Start"
                                   Color="Color.Secondary">
            </MudBlazor.MudCheckBox>
        </div>
    </div>
</div>

<JingetMessageBox @ref=@messageBox OnOpen=Opened>
</JingetMessageBox>

@code {
JingetMessageBox? messageBox { get; set; }

bool showVerbose { get; set; }

void Opened() => messageBox.CloseButtonText = messageBox.Rtl ? "بستن" : "Close";

async Task ShowMBox1()
{
    messageBox.ShowVerboseFuncAsync = ShowVerboseCondition;
    await messageBox?.ShowErrorAsync(
        title: "Sample message box",
        content: "This is sample message box",
        verboseContent: "This is vebose content",
        rtl: false);
}

async Task ShowMBox2()
{
    messageBox.ShowVerboseFuncAsync = ShowVerboseCondition;
    await messageBox?.ShowErrorAsync(
        title: "پیغام تستی",
        content: "این یک محتوای تستی است",
        verboseContent: "توضیحات بیشتر تستی");
}

async Task<bool> ShowVerboseCondition() => await Task.FromResult<bool>(showVerbose);

void OnChecked() => showVerbose = !showVerbose;
}