@page "/datepicker"
@using Jinget.Blazor.Components.Picker

<div class="container">
    <div class="row">
        Default Label
        <div class="form-group input-group">
            <JingetJalaliDatePicker Value=selectedDate_1 DateChanged="OnDateChanged_1">
            </JingetJalaliDatePicker>
        </div>
    </div>
    @if (selectedDate_1.HasValue)
    {
        <div class="row">
            <p>Selected Date: @selectedDate_1.Value/@Jinget.Core.Utilities.DateTimeUtility.ToSolarDate(selectedDate_1.Value)</p>
        </div>
    }
    <hr />
    <div class="row">
        Set Selected Date Programmatically
        <div class="form-group input-group">
            <JingetJalaliDatePicker @ref=datePicker2 Value=selectedDate_2 DateChanged="OnDateChanged_2">
            </JingetJalaliDatePicker>
            <button @onclick="SetJalaliDate" class="btn btn-primary">Set Jalali Date(1402/09/13)</button>
        </div>
    </div>
    @if (selectedDate_2.HasValue)
    {
        <div class="row">
            <p>Selected Date: @selectedDate_2.Value/@Jinget.Core.Utilities.DateTimeUtility.ToSolarDate(selectedDate_2.Value)</p>
        </div>
    }
    <hr />
    <div class="row">
        en-US culture with custom label
        <div class="form-group input-group">
            <JingetJalaliDatePicker Value=selectedDate_3
                                    DateChanged="OnDateChanged_3"
                                    Culture="en-US"
                                    Label="Select a Date:">
            </JingetJalaliDatePicker>
        </div>
    </div>
    @if (selectedDate_3.HasValue)
    {
        <div class="row">
            <p>Selected Date: @selectedDate_3.Value/@Jinget.Core.Utilities.DateTimeUtility.ToSolarDate(selectedDate_3.Value)</p>
        </div>
    }
    <hr />
    <div class="row">
        Min/Max Selectabel date
        <div class="form-group input-group">
            <JingetJalaliDatePicker MinDate="new DateTime(2023,09,01)" MaxDate="DateTime.Now">
            </JingetJalaliDatePicker>
        </div>
    </div>
</div>
@code {
    JingetJalaliDatePicker datePicker2;

    DateTime? selectedDate_1;
    DateTime? selectedDate_2;
    DateTime? selectedDate_3;

    void OnDateChanged_1(DateTime? selectedDate) => selectedDate_1 = selectedDate;

    void OnDateChanged_2(DateTime? selectedDate) => selectedDate_2 = selectedDate;

    void OnDateChanged_3(DateTime? selectedDate) => selectedDate_3 = selectedDate;

    void SetJalaliDate()
    {
        Random randomYear = new Random();
        Random randomMonth = new Random();
        Random randomDay = new Random();
        selectedDate_2 = Jinget.Core.Utilities.DateTimeUtility
        .ToGregorianDate($"{randomYear.Next(1398, 1402)}/{randomMonth.Next(1, 12)}/{randomDay.Next(1, 29)}");
    }
}