[*.cs]

# Default severity for analyzer diagnostics with category 'Naming'
dotnet_analyzer_diagnostic.category-Naming.severity = none

# CS1574: XML comment has cref attribute that could not be resolved
dotnet_diagnostic.CS1574.severity = none
