@using System.Collections

@if (Model != null && Model.Count > 0)
{
    <ul class="list-group">
        @if (ShowTitle)
        {
            <li class="list-group-item @HeaderCssClass">
                @Title
            </li>
        }
        @foreach (var item in Model)
        {
            <li class="list-group-item @item.CssClass">
                @item.Text
            </li>
        }
    </ul>
}
@code {
    [Parameter] public IList<ListItem>? Model { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public bool ShowTitle { get; set; } = true;
    [Parameter] public string HeaderCssClass { get; set; } = "list-group-item-primary";
}