@page "/test"
@using Jinget.Blazor.Components.Captcha
@using static Jinget.Blazor.Components.Captcha.JingetCaptcha
@using Jinget.Blazor.Components.Picker
@using System.Globalization
@using MudBlazor;
@using System.Timers
@using static Jinget.Blazor.Components.Captcha.JingetCaptcha

@inject NavigationManager NavigationManagerService;
<style>
    .login-page {
        min-height: 100vh;
        min-width: 100vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.6)), url('login-bg.jpg')
    }

        .login-page .input-group {
            margin-top: 10px !important;
        }

            .login-page .input-group .input-group-text {
                display: block !important;
                border-bottom-left-radius: 0 !important;
                border-top-left-radius: 0 !important;
            }
</style>
<div class="container login-page">

    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center d-flex-row text-center" style="opacity:0.9; width:40%">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center">سامانه</h4>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-id-card"></i> </span>
                        </div>
                        <input type="number" maxlength="10" placeholder="کدملی 1234567890" class="form-control text-center" id="nationalCode" @bind-value="@NationalCode" />
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-mobile"></i> </span>
                        </div>
                        <input type="number" maxlength="11" placeholder="شماره تلفن همراه 09121112222" class="form-control text-center" id="mobileNumber" @bind-value="@MobileNumber" />
                    </div>
                    <div class="form-group input-group">
                        <JingetDatePicker Id="BirthDatePicker"
                                          SelectedDateChanged=OnDateChanged_1
                                          SelectedDate=BirthDate
                                          IsRtl="true"
                                          MaxDate="DateTime.Now"></JingetDatePicker>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-shield"></i> </span>
                        </div>
                        <input type="text" class="form-control text-center" id="captcha" />
                        <JingetCaptcha CharCount="5"
                                       ContentCaseSensitivity=CharSetCaseSensitivityOptions.IgnoreCase
                                       CharSetType="CharSetTypeOptions.EnglishCharsPlusDigit"></JingetCaptcha>
                    </div>
                    <br />
                    <div class="form-group">
                        <button @onclick="ValidateInfo" class="btn btn-primary">احراز هویت</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@code {

    string? NationalCode { get; set; }
    string? MobileNumber { get; set; }
    DateTime? BirthDate;
    void OnDateChanged_1(DateTime? selectedDate) => BirthDate = selectedDate;

    async Task ValidateInfo()
    {

    }
}