/*Select2.js START*/
.select2-container {
    width: 100% !important
}

.select2-container--outlined .select2-selection {
    font-family: IRANSans !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    min-height: 2.5rem !important;
    line-height: 1.5 !important;
    padding: 0 !important;
}

.select2-results__option--selectable {
    font-family: IRANSans !important;
}


.select2-container .select2-selection--single .select2-selection__arrow {
    position: absolute !important;
    left: 0px !important;
}
/*Select2.js END*/
/*MudBlazor START*/
.mud-typography, .mud-picker {
    font-family: IRANSans;
}

.mud-input-label-inputcontrol {
    left: unset;
}

.mud-button-label {
    font-family: IRANSans !important;
}

.mud-alert-message {
    width: 100% !important;
}

.rtl {
    direction: rtl !important;
    font-family: IranSans;
}

.ltr {
    direction: ltr !important;
}
/*MudBlazor END*/

/*Selectize START*/
.selectize-control.single .selectize-input {
/*    height: 55px !important;
    margin-top: 4px !important;
}

.selectize-input > * {
    padding-top: 10px !important;
}

.selectize-control.rtl .selectize-input > input {
    padding-top: 10px !important;
}

.overlayed-label {
    transform: translate(-4px, -6px) scale(0.83);
    background-color: white !important;
    padding: 0 5px !important;
    position: absolute;
    z-index: 2 !important;
    color: rgb(66 66 66,1) !important;
}*/
/*Selectize END*/

/*JingetList START*/
.list-group-item {
    overflow-wrap: break-word;
}
/*JingetList END*/

/*JsonViewer START*/
json-viewer {
    direction: ltr !important;
    overflow-wrap: break-word !important;
}
/*JsonViewer END*/
