
.jinget-picker.rtl span.input-group-text {
    border-left-style: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jinget-picker.rtl input[data-has-btn='true'] {
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.jinget-picker.ltr span.input-group-text {
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jinget-picker.ltr input[data-has-btn='true'] {
    border-left-style: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

