.jinget-picker {
    background-color: unset !important;
    position: relative;
    /*display: inline-block;*/
    display: inline-flex;
}

div.jinget-picker button {
    color: unset !important;
    position: absolute;
}

div.jinget-picker > button {
    left: 40px;
}

div.jinget-picker > button.mud-icon-button-edge-end {
    margin-right: unset !important;
    margin-inline-end: unset !important;
    margin-inline-start: unset !important;
    left: 25px !important;
}

div.jinget-picker div.mud-input-adornment {
    padding: 13px 0 0 0px;
    position: absolute;
    left: 35px;
}

div.jinget-picker div.mud-input-adornment button {
    /*top: -23px;*/
    left: -23px;
    padding: 0;
}

.jinget-picker input {
    width: inherit !important;
}

.jinget-picker input:focus {
    outline: none !important;
}

div.mud-input:has(input.jinget-picker):before,
div.mud-input:has(input.jinget-picker):after {
    transition: none !important;
    border-bottom: none !important;
}

.dyno-form-label {
    padding: 0px 5px 0px 5px;
}

.rtl,
div.rtl,
.mud-paper[data-dir="rtl"] .mud-picker-calendar-content-2,
.mud-paper[data-dir="rtl"] .mud-picker-calendar-header-day,
.mud-paper[data-dir="rtl"] .mud-picker-calendar-header-switch,
.mud-paper[data-dir="rtl"] .mud-picker-calendar-transition {
    direction: rtl !important;
}

.rtl,
.mud-paper[data-dir="rtl"] *,
input[data-dir="rtl"],
.select2-search__field,
.select2-results__option--selectable,
.mud-typography,
.mud-picker {
    font-family: IRANSans !important;
}

.ltr,
div.ltr,
.mud-paper[data-dir="ltr"] .mud-picker-calendar-content-2,
.mud-paper[data-dir="ltr"] .mud-picker-calendar-header-day,
.mud-paper[data-dir="ltr"] .mud-picker-calendar-header-switch,
.mud-paper[data-dir="ltr"] .mud-picker-calendar-transition {
    direction: ltr !important;
}

.ltr,
.mud-paper[data-dir="ltr"] *,
input[data-dir="ltr"] {
    font-family: sans-serif !important;
}

.mud-paper[data-dir="rtl"] span.mud-icon-button-label {
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.mud-paper[data-dir="rtl"] button.mud-range-start-selected {
    border-radius: 0% 50% 50% 0% !important;
}

.mud-paper[data-dir="rtl"] button.mud-range-end-selected {
    border-radius: 50% 0% 0% 50% !important;
}

.mud-paper[data-dir="rtl"] button.mud-range-selection:hover:not(.mud-range-start-selected) {
    border-radius: 50% 0% 0% 50% !important;
}

.mud-paper[data-dir="ltr"] button.mud-range-start-selected {
    border-radius: 50% 0% 0% 50% !important;
}

.mud-paper[data-dir="ltr"] button.mud-range-end-selected {
    border-radius: 0% 50% 50% 0% !important;
}

.mud-paper[data-dir="ltr"] button.mud-range-selection:hover:not(.mud-range-start-selected) {
    border-radius: 0% 50% 50% 0% !important;
}

.jinget-badge {
    text-align: justify;
}

.jinget-badge span {
    margin: 0px 5px 0px 5px;
}

.jinget-badge span i {
    margin: 0px 2px 0 2px;
    cursor: pointer;
}

.sortable {
    cursor: pointer;
}

.sortable i {
    color: gainsboro;
    float: inline-end;
}

.sortable i:hover {
    color: unset;
}

.jinget-element-label {
    padding: 0px 5px 0px 5px;
}

.jinget_element_required-error {
    color: red;
}

/*Select2.js START*/
.select2-container {
    min-width: unset !important;
}

.select2-container {
    width: auto !important
}

div.modal-backdrop ~ span.select2-container {
    z-index: 9999;
}

.select2-container--outlined .select2-selection {
    font-family: IRANSans !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    min-height: 2.5rem !important;
    line-height: 1.5 !important;
    padding: 0 !important;
}

.select2_selection_arrow_rtl {
    margin-left: unset !important;
    margin-right: auto !important;
}

/*Select2.js END*/

/*MudBlazor START*/

.mud-input-label-inputcontrol {
    left: unset;
}

.mud-button-label {
    font-family: IRANSans !important;
    font-size: 14px;
}

.mud-picker-toolbar {
    height: unset !important;
}

.mud-alert-message {
    width: 100% !important;
}

/*MudBlazor END*/
