﻿.divCaptcha {
    display: flex;
    flex-wrap: nowrap;
}

.btn-refresh {
    border: none;
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMDAgMTAwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz48Zz48ZyBpZD0icmVmcmVzaCI+PHBhdGggZD0iTTg0MywxNTdDNzU3LjIsNjUuMSw2MzQuNywxMCw1MDAsMTBDMjMwLjUsMTAsMTAsMjMwLjUsMTAsNTAwYzAsMjY5LjUsMjIwLjUsNDkwLDQ5MCw0OTBjMjI2LjYsMCw0MTYuNS0xNTkuMyw0NzEuNi0zNjcuNUg4NDNjLTQ5LDE0MC45LTE4My44LDI0NS0zNDMsMjQ1Yy0yMDIuMSwwLTM2Ny41LTE2NS40LTM2Ny41LTM2Ny41YzAtMjAyLjEsMTY1LjQtMzY3LjUsMzY3LjUtMzY3LjVjMTA0LjEsMCwxODkuOSw0Mi45LDI1Ny4yLDExMC4ybC0xOTYsMTk2SDk5MFYxMEw4NDMsMTU3eiIvPjwvZz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PC9nPg0KPC9zdmc+) no-repeat, #0f165e29;
    background-position-y: center;
    background-position-x: center;
    background-size: 70%;
    width: 30px;
}
