.jinget-farsi-font {
    font-family: 'IRANSans'
}

.jinget-default-font {
    font-family: unset;
}

.jinget-action-content {
    white-space: nowrap;
    width: 1%;
}

.pager-btn {
    border-radius: unset !important;
}

tfoot .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
    box-shadow: none !important;
}

tfoot div, .selected-row {
    font-size: smaller;
}

.table {
    margin: 0px !important;
}
