@media screen and (max-width: 1125px) {
    tfoot label.jinget-smaller-font, tfoot span.pager-btn, tfoot button.pager-static {
        display: none;
    }

    tfoot button.pager-btn {
        font-size: small;
    }

    div > table.selected-row {
        width: -webkit-fill-available !important;
        padding: 0px !important;
    }
}


tfoot div {
    flex-wrap: nowrap !important;
    background-color: #f8f9fa;
    margin: 0px 1px 0px 1px !important;
}

.jinget-farsi-font {
    font-family: 'IRANSans';
}

.jinget-default-font {
    font-family: unset;
}

.jinget-action-content {
    white-space: nowrap;
    width: 1%;
}

.pager-btn {
    border-radius: unset !important;
}

tfoot .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
    box-shadow: none !important;
}

tfoot div, .selected-row {
    font-size: smaller;
}

.table {
    margin: 0px !important;
}
