<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jinget.Blazor Componets</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/captcha" Match="NavLinkMatch.All">
                Captcha
            </NavLink>
        </div>
        <NavLink class="nav-link" @onclick="()=>expandPickerSubNav = !expandPickerSubNav">
            <span class="oi oi-plus" aria-hidden="true"></span> Pickers
        </NavLink>
        @if (expandPickerSubNav)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/datepicker" Match="NavLinkMatch.All">
                    Date Picker
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/daterangepicker" Match="NavLinkMatch.All">
                    Date Range Picker
                </NavLink>
            </div>
        }
    </nav>
</div>
@code {
    bool expandPickerSubNav;
    bool collapsePickerSubNav = true;

    string? NavMenuCssClass
    {
        get
        {
            if (collapsePickerSubNav)
                return collapsePickerSubNav ? "collapse" : null;
            else
                return "";
        }
    }

    void ToggleNavMenu()
    {
        if (collapsePickerSubNav)
            collapsePickerSubNav = !collapsePickerSubNav;
    }
}
