@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode

<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @* IMPORTANT *@
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Jinget.Blazor.Server.Test.styles.css" />

    <link href="_content/Jinget.Blazor/css/jinget.core.css" rel="stylesheet" />

    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    @* IMPORTANT *@
    <script src="jquery.3.7.1.js"></script>
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Jinget.Blazor/js/jinget.core.js" id="jinget"></script>
</body>

</html>
