<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jinget.Blazor Componets</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/captcha" Match="NavLinkMatch.All">
                Captcha
            </NavLink>
        </div>
        <NavLink class="nav-link" @onclick="()=>expandPickerSubNav = !expandPickerSubNav">
            <span class="oi oi-plus" aria-hidden="true"></span> Pickers
        </NavLink>
        @if (expandPickerSubNav)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/datepicker" Match="NavLinkMatch.All">
                    Date Picker
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/daterangepicker" Match="NavLinkMatch.All">
                    Date Range Picker
                </NavLink>
            </div>
            @* <div class="nav-item px-3"> *@
            @*     <NavLink class="nav-link" href="/newdatepicker" Match="NavLinkMatch.All"> *@
            @*         New Date Picker *@
            @*     </NavLink> *@
            @* </div> *@
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/input" Match="NavLinkMatch.All">
                Input
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list" Match="NavLinkMatch.All">
                List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dropdownlist" Match="NavLinkMatch.All">
                DropDownList
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dropdownlisttree" Match="NavLinkMatch.All">
                DropDownListTree
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/popup/modal" Match="NavLinkMatch.All">
                Modal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/popup/messagebox" Match="NavLinkMatch.All">
                Message Box
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/table" Match="NavLinkMatch.All">
                Table
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dynamic" Match="NavLinkMatch.All">
                Dynamic Form
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/other/json-visualizer" Match="NavLinkMatch.All">
                Json Visualizer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/browser-storage" Match="NavLinkMatch.All">
                Browser Storage
            </NavLink>
        </div>
                <NavLink class="nav-link" @onclick="()=>expandBISubNav = !expandBISubNav">
            <span class="oi oi-plus" aria-hidden="true"></span> BI
        </NavLink>
        @if (expandBISubNav)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/bi/gauge" Match="NavLinkMatch.All">
                    Gauge
                </NavLink>
            </div>
        }
    </nav>
</div>
@code {
    bool expandPickerSubNav;
    bool collapsePickerSubNav = true;

    bool expandBISubNav;
    bool collapseBISubNav = true;

    string? NavMenuCssClass
    {
        get
        {
            if (collapsePickerSubNav)
                return collapsePickerSubNav ? "collapse" : null;
                else if (collapseBISubNav)
                return collapseBISubNav ? "collapse" : null;
            else
                return "";
        }
    }

    void ToggleNavMenu()
    {
        if (collapsePickerSubNav)
            collapsePickerSubNav = !collapsePickerSubNav;
            else if (collapseBISubNav)
            collapseBISubNav = !collapseBISubNav;
    }
}
