@page "/other/json-visualizer"
@using Jinget.Blazor.Components.Other

<button @onclick=@VisualizeObject class="btn btn-primary">Visualize Object</button>
<button @onclick=@VisualizeString class="btn btn-primary">Visualize String</button>

<JingetJsonVisualizer @ref=@jingetJsonVisualizer></JingetJsonVisualizer>
@code {
    JingetJsonVisualizer? jingetJsonVisualizer { get; set; }

        async Task VisualizeObject() => await jingetJsonVisualizer.Visualize(new { Name = "Vahid", LastName = "Farahmandian", Age = 35, Score = 182.25 });

        async Task VisualizeString() => await jingetJsonVisualizer.Visualize("{\"Name\":\"Ali\",\"LastName\":\"Abbasi\", \"Age\":30, \"Score\":145.652}");
}